# Object files and Backups
*.o
*~
*.bak

# Libraries and Documentation
doc/
docs/
share/
samples/

# Log files
*.log

# Dependencies
*.d

# Executables
build/
bin/
*.out

# KDevelop project
*.kdev*
*.kate-swp

